* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f2 
}

h1 {
  font-size: 3rem;
}

.turn {
  margin-top: 30px;
  font-size: 2rem;
}

.container {
  margin-top: 30px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 90px;
  background: #f2f2f2;
}

.container > div {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Brush Script MT", cursive;
  cursor: pointer;
}